OPENAI_API_KEY=your_openai_api_key
GOOGLE_API_KEY=your_google_api_key
XAI_API_KEY=your_xai_api_key
GPT_MODEL=openai/gpt-5.5
#REASONING_EFFORT=high
#VERBOSITY=normal
GPT_PROMPT="You are a helpful assistant. Respond briefly, but informatively."
DISCORD_BOT_TOKEN=your_discord_bot_token
GPT_SHOW_AVAILABLE_MODELS=0
GPT_USE_ONLINE_SEARCH=1
